*

!.vscode/
!.vscode/tasks.json
!bash-util
!docker/
!docker/server--draw-io/
!docker/server--draw-io/default.docker
!docker-compose/
!docker-compose/server--draw-io/
!docker-compose/server--draw-io/default.docker-compose
!.gitignore
!.gitmodules
!host.env
!LICENCE
!README.md
